In [1]:
# Set up the environment

import sys

# Add path for python to look into for modules installed using pip

sys.path.append('/usr/local/lib/python3.7/site-packages/')

import os
import pandas as pd

# Change into the correct directory

if os.getcwd() != os.path.expanduser('~') + '/fitpy/':
    os.chdir(os.path.expanduser('~') + '/fitpy/')
else:
    pass

In [2]:
data = pd.read_csv('/Users/maosa/fitr/data.csv', sep=',', )

In [3]:
data.head()

   No        Date Workout  Duration
0   1  2017-01-01    Rest         0
1   2  2017-01-02    Rest         0
2   3  2017-01-03    Rest         0
3   4  2017-01-04    Rest         0
4   5  2017-01-05   Chest        68

In [4]:
workouts = data['Workout'].unique()

workouts

array(['Rest', 'Chest', 'Pull 1', 'Running', 'Shoulders and Arms',
       'Pull 2', 'Insane Chest and Dips', 'Cardio',
       'Insane Chest and Biceps', 'Pull 2 + Cardio', 'Texas + Cardio',
       'Insane Chest', 'Cobra Back', 'Dorians Challenge',
       'Insane Chest + Cardio', 'Back + Cardio', 'Texas',
       'Pull 1 + Cardio', 'Cobra Back + Abs', 'Legs', 'Back',
       'Chest + Cardio', 'Chest + Back', 'Chest and Biceps',
       'Chest and Biceps + Back', 'Upper Body',
       'Chest and Triceps and Core', 'Back and Biceps and Core',
       'Back and Biceps', 'Chest and Core', 'Legs and Core',
       'Chest and Core and Rotator Cuffs', 'Back and Knee Conditioning',
       'Chest and Back and Knee Conditioning',
       'Half Squats and Chest and Core', 'Insane Chest and Push and Core',
       'Cycling + Cobra Back', 'Compound and Core',
       'Insane Chest and Push', 'Cobra Back and Core', 'Compound',
       "Can't Walk and Core", 'Cobra Back and Pull', "Can't Walk",
       'Texas and Dips and Core', 'Compound + Chest', 'Back and Core',
       'Chest and Back', 'Compound 1', 'Compound 2', 'Compound 3',
       'Cross training', 'Multisport', 'Multisport (Back)',
       'Multisport (Chest)', 'Multisport (Legs)', 'Bouldering',
       'Basketball', 'Surfing'], dtype=object)

In [5]:
chest = [
    'Chest', 'Insane Chest and Dips', 'Insane Chest and Biceps', 'Insane Chest',
    'Chest and Biceps', 'Chest and Triceps and Core', 'Chest and Core', 'Chest and Core and Rotator Cuffs',
    'Half Squats and Chest and Core', 'Insane Chest and Push and Core', 'Insane Chest and Push',
    'Multisport (Chest)'
]

back = [
    'Back', 'Pull 1', 'Pull 2', 'Cobra Back', 'Back and Biceps and Core', 'Back and Biceps',
    'Back and Knee Conditioning', 'Cobra Back and Core', 'Cobra Back and Pull', 'Back and Core',
    'Multisport (Back)'
]

legs = ['Legs', 'Legs and Core', "Can't Walk and Core", "Can't Walk", 'Multisport (Legs)']

compound = [
    'Compound', 'Texas', 'Chest and Back and Knee Conditioning',
    'Compound and Core', 'Texas and Dips and Core',
    'Chest and Back', 'Compound 1', 'Compound 2', 'Compound 3', 'Cross training', 'Multisport', 'Bouldering'
]

cardio = ['Running', 'Cardio', 'Basketball', 'Surfing']

other = [
    'Shoulders and Arms', 'Dorians Challenge', 'Upper Body'
]

rest = 'Rest'

double = [s for s in workouts if '+' in s]

if (len(workouts) != len(chest) + len(back) + len(legs) +
    len(compound) + len(cardio) + len(rest) + len(double)):
    
    miss = len(workouts) - (len(chest) + len(back) + len(legs) +
    len(compound) + len(cardio) + len(rest) + len(double))
    
    print('Mismatch of', miss)

In [6]:
# Simplify workout names

simple = []

for w in range(len(data['Workout'])):
    
    workout = data['Workout'][w]
    
    if workout in chest:
        simple.append('Chest')
    elif workout in back:
        simple.append('Back')
    elif workout in legs:
        simple.append('Legs')
    elif workout in compound:
        simple.append('Compound')
    elif workout in cardio:
        simple.append('Cardio')
    elif workout in rest:
        simple.append('Rest')
    elif '+' in workout:
        simple.append(workout)
    else:
        simple.append('Other')
        
if len(simple) == len(data):
    data['simple'] = simple

# Categorise workoute

category = []

for w in range(len(data['Workout'])):
    
    workout = data['Workout'][w]
    
    if workout in chest:
        category.append('chest')
    elif workout in back:
        category.append('back')
    elif workout in legs:
        category.append('legs')
    elif workout in compound:
        category.append('compound')
    elif workout in cardio:
        category.append('cardio')
    elif workout in rest:
        category.append('rest')
    elif '+' in workout:
        category.append('double_workout')
    else:
        category.append('other')
        
if len(category) == len(data):
    data['Category'] = category
    
# Convert dates to datetime
    
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d')

# Simplify workout names

data['Workout'] = data['simple']

data.drop(labels='simple', axis=1, inplace=True)

In [7]:
data

        No       Date   Workout  Duration  Category
0        1 2017-01-01      Rest         0      rest
1        2 2017-01-02      Rest         0      rest
2        3 2017-01-03      Rest         0      rest
3        4 2017-01-04      Rest         0      rest
4        5 2017-01-05     Chest        68     chest
...    ...        ...       ...       ...       ...
1172  1173 2020-03-18  Compound        45  compound
1173  1174 2020-03-19      Rest         0      rest
1174  1175 2020-03-20      Rest         0      rest
1175  1176 2020-03-21    Cardio        42    cardio
1176  1177 2020-03-22  Compound        39  compound

[1177 rows x 5 columns]

In [8]:
data.to_csv(os.getcwd() + '/data.csv', sep=',', index = False, header=True)

In [9]:
test = pd.read_csv('data.csv', sep=',')

In [10]:
test

        No        Date   Workout  Duration  Category
0        1  2017-01-01      Rest         0      rest
1        2  2017-01-02      Rest         0      rest
2        3  2017-01-03      Rest         0      rest
3        4  2017-01-04      Rest         0      rest
4        5  2017-01-05     Chest        68     chest
...    ...         ...       ...       ...       ...
1172  1173  2020-03-18  Compound        45  compound
1173  1174  2020-03-19      Rest         0      rest
1174  1175  2020-03-20      Rest         0      rest
1175  1176  2020-03-21    Cardio        42    cardio
1176  1177  2020-03-22  Compound        39  compound

[1177 rows x 5 columns]